<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://i.ytimg.com/vi/7pShjQqq37k/maxresdefault.jpg" alt="a placeholder image">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati laudantium incidunt animi eaque atque sequi ullam, possimus iure quas ipsum ex asperiores molestias laborum amet odit natus, porro inventore dolor.</a></p>
  </div>
</div>
