.container__small-card-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container__small-card {
  width: 600px;
  margin-bottom: 15px;
}

.small-card__photo {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  margin-right: 60px;
}

.small-card__title{
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
}

.container__separator{
  margin-top: 10px;
}
