<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id="0" photoCover="../../assets/imagens/banner_mir4.jpg"
      cardTitle="Manuals for the Mainnet NFT conversion and Marketplace"
      cardDescription="Please be aware that you cannot register any items for sale on the new NFT MARKETPLACE if your NFT is not based on the Mainnet NFT, so carefully check the guidelines attached below for your smooth NFT MARKETPLACE use."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card Id="1"
      photoCover="../../assets/imagens/guerreiro.jpg"
      cardTitle="Guerreiro">
    </app-small-card>

    <app-small-card Id="2" photoCover="../../assets/imagens/besteira.jpg" cardTitle="Besteira">
      >
    </app-small-card>

    <app-small-card Id="3" photoCover="../../assets/imagens/maga.jpg" cardTitle="Maga">
      >
    </app-small-card>

    <app-small-card Id="4" photoCover="../../assets/imagens/taoista.jpg" cardTitle="Taoísta">
      >
    </app-small-card>

    <app-small-card Id="5" photoCover="../../assets/imagens/lanceiro.jpg" cardTitle="Lanceiro">
      >
    </app-small-card>

    <app-small-card Id="6" photoCover="../../assets/imagens/soturna.jpg" cardTitle="Soturna">
      >
    </app-small-card>
  </div>
</div>
